
.container {
    width: 40%;
    height: 500px;
    margin: 0 auto;
    background-color:gainsboro;
}
#light
{
    margin-left:90%;
}
.screen {
    width: 55%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #F7F7F7;
    background-color: #FFFFFF;
    margin: 0 auto;
}

#time {
    font-size: 35px;
}
.control
{
    font-size: 60px;
}
.operate
{
    margin-left: 25%;
}
